<html>
{% block body %}
<body>
	<form action="/form_upload" method="POST"
		enctype="multipart/form-data">
		Upload csv People rows without header <br />
		<input type="file" name="file" /> 
		<p>
		<br /> Choose training algorithm : <br/>
			<input type="radio" name="options" id="linearSVC" value="linearSVC">Linear SVC<br>
			<input type="radio" name="options" id="randomForest" value="randomForest">Random Forest<br>
			<input type="radio" name="options" id="logisticRegression" value="logisticRegression">Logistic Regression <br>
		</p>
		<input type="submit" />
	</form>	
		  {% for line in result %}
  			  {{ line }}
  		 {% endfor %}

</body>
{% endblock %}
</html>